@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Raleway:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #394867;
  color: white;
  font-family: "Raleway";
  padding: 0 1rem 1rem 1rem;
}

a {
  text-decoration: none;
  color: #b0daff;
}

a:hover {
  text-decoration: underline;
  color: #19a7ce;
}

.title {
  font-size: 2rem;
  font-family: "Playfair Display";
  font-weight: normal;
  margin: 1rem 0;
}

.container {
  display: flex;
  gap: 4rem;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: start;
}

.text-container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.intro {
  font-size: 0.9em;
  margin-bottom: 1rem;
  max-width: 500px;
  line-height: 1.3;
}

.notes {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8em;
  color: #a4df57;
  padding-top: 0.5rem;
}

.notes-mobile {
  display: none;
}

.boxed-text {
  border: 1px dashed rgba(247, 208, 96, 0.5);
  padding: 1rem;
  max-width: 500px;
}

.matches-text {
  margin-top: 1rem;
  font-family: "Raleway";
  font-size: 1.1em;
  font-weight: 400;
}

/* Kevin Powell on YT: https://www.youtube.com/watch?v=lvKK2fs6h4I */

#table-matches {
  overflow-y: auto;
  max-height: 300px;
  height: auto;
  padding-right: 2rem;
  margin: 1rem 1rem 0 0;
  display: inline-block;
  border-collapse: collapse;
}

#table-matches::-webkit-scrollbar {
  width: 0.5em;
  height: 1em;
}

#table-matches::-webkit-scrollbar-track {
  background: #475c82;
  border-radius: 100vw;
  margin-block: 0;
}

#table-matches::-webkit-scrollbar-thumb {
  background: #5b759c;
  border-radius: 100vw;
}

#table-matches thead th {
  padding-bottom: 0.5rem;
  min-width: 200px;
}
#table-matches tbody tr:not(:last-child) {
  border-bottom: 0.75px dashed #627eb3;
}

#table-matches tbody tr:hover {
  background-color: #4b6088;
}

#table-matches tbody tr {
  cursor: pointer;
}

#table-matches td:first-child {
  padding-right: 2.25rem;
}

#table-matches td:last-child {
  padding-right: 2rem;
}

#table-matches td {
  padding: 0.15rem;
}

ul.directions {
  display: flex;
  gap: 1rem;
  list-style: none;
}

ul.directions:first-child {
  padding-bottom: 0.75rem;
}

.fa-solid {
  color: #a4df57;
}

/* toggle switch: https://blog.teamtreehouse.com/css-toggle-switch */
input {
  cursor: pointer;
  position: relative;
  width: 40px;
  height: 20px;
  border-radius: 20px;
  border: 1px solid #afd3e2;
  outline: none;
  background-color: #383838;
  -webkit-appearance: none;
  transition: background 0.5s;
}

input::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 1px solid #333;
  height: 1.35rem;
  width: 1.35rem;
  background-color: white;
  transition: left 0.5s;
  box-shadow: rgba(0, 0, 0, 0.74) 2px 4px 8px;
}

input:checked {
  background-color: #a0d9a6;
  border: 1px solid #617a55;
}

input:checked::after {
  left: 70%;
  border: 1px solid #617a55;
}

.toggle {
  display: inline;
}

.toggle-text {
  margin-left: 0.75rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9em;
  color: #a4df57;
  vertical-align: top;
}

#table-container-mobile {
  display: none;
}

@media screen and (max-width: 1100px) {
  .container {
    flex-direction: column;
    gap: 0;
    padding-top: 2rem;
    align-items: center;
  }

  .title {
    font-size: 1.8em;
  }

  .boxed-text {
    border: 1px dashed rgba(247, 208, 96, 0.5);
    padding: 1rem;
    width: max-content;
  }

  #table-matches {
    height: fit-content;
    max-height: 350px;
    overflow-y: auto;
    padding-bottom: 2rem;
    display: inline-block;
  }

  #table-container {
    display: none;
  }

  #table-container-mobile {
    display: block;
  }

  .flex-item:nth-of-type(1) {
    order: 2;
  }
  .flex-item:nth-of-type(3) {
    margin-top: 1rem;
    order: 1;
  }
  .flex-item:nth-of-type(4) {
    order: 3;
  }

  .flex-item:nth-of-type(5) {
    order: 4;
  }

  .text-flex:nth-of-type(1) {
    text-align: center;
    margin-top: 1rem;
    order: 4;
  }
  .text-flex:nth-of-type(2) {
    margin-top: 0;
    order: 1;
  }
  .text-flex:nth-of-type(3) {
    order: 2;
  }
  .text-flex:nth-of-type(4) {
    order: 3;
  }

  .notes {
    display: none;
  }
  .notes-mobile {
    display: block;
  }
}
